<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">
        <div style="text-align:justify;">
          <p>Scrum  |  Agile  |  Lean UX  |  behavioral targeting  |  Elasticsearch  |  behavior driven development / BDD  |  DevOps  |  full stack development teams  |  website performance optimization  |  SEO optimization  |  continuous integration / continuous development  |  front-end and back-end A/B-testing  |  goal- and user oriented  |  fact-driven  |  coach  |  ondernemend  |  keep it simple  |  benaderbaar</p>
        </div>
    </h2>

      {% include social.html %}

  </div>

</footer>
