---
layout: default
---

<div class="home">
  {% if page.title %}
    <h1 class="page-heading">{{ page.title }}</h1>
  {% endif %}

  <div class="home-content">
    {{ content }}
  </div>

  <div class="home-content_mark">

    <div style="text-align:center;font-size:18px;padding-bottom:40px">
      <p><strong>Freelance scrum product owner | digital product developer <br /> beschikbaar per 1 juli 2018 <br />  </strong></p>

    </div>

  </div>

  <div style="text-align:justify;">
    <p>Mijn naam is Mark Brand.</p>
  </div>

  <div style="text-align:justify;">
    <p>Ik ben een gecertificeerde scrum product owner met een passie voor het digitaliseren van de business. Met acht jaar B2C en B2B e-commerce ervaring heb ik een bewezen staat van dienst in het verhogen van de winstgevendheid middels het initiëren en uitvoeren van optimalisatie- en innovatieprojecten in complexe online omgevingen. Als positieve challenger ben ik toegewijd aan het creëren van de ultieme digitale gebruikerservaring.</p>
    <p>Ik heb uitgebreide ervaring met het werken met full-stack DevOps-teams volgens Agile- en Lean UX-principes in continuous integration / continuous deployment omgevingen.</p>
    <p>Ik ben een sterke communicator en onderhandelaar met een scherp oog voor de uitdagingen, behoeften en zorgen van klanten, teamleden en belanghebbenden. Ik krijg energie van het bouwen van business- en ontwikkelteams met een gedeelde visie en drive om te presteren en te leveren.</p>
    <p>Per 1 juli 2018 ben ik beschikbaar om jou te helpen de digitale transformatie van je organisatie te versnellen.</p>
  </div>

  <div style="text-align:justify;padding-bottom:20px;">
    <p>Neem contact met mij op via mark@gonimble.nl.</p>
  </div>


<!--
  <div style="text-align:center;font-size:14px;">
    <p>English</p>
  </div>
  //-->

<!--
  {% if site.posts.size > 0 %}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {% if site.show_excerpts %}
          {{ post.excerpt }}
        {% endif %}
      </li>
      {% endfor %}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {% endif %}
  //-->

</div>
